/*General*/

form {
	display:inline-block;
}

.voting-block {
	text-align:center;
	padding-top:20px;
}

h1.title {
	font:arial;
	color:#383838;
	font-size:24px;
	margin-bottom:3px;
	text-align:center;
}

h2.subtitle {
	font:arial;
	color:#383838;
	font-size:18px;
	margin-top:0px;
	text-align:center;
}


/*Buttons*/

.btn-happy {
    background:url(./images/happy.png) no-repeat;
    background-size: 70px 70px;
    background-position: center; 
    cursor:pointer;
    width: 110px;
    height: 170px;
    border: none;
}

.btn-confused {
    background:url(./images/confused.png) no-repeat;
    background-size: 70px 70px;
    background-position: center; 
    cursor:pointer;
    width: 110px;
    height: 170px;
    border: none;
}

.btn-sad {
    background:url(./images/sad.png) no-repeat;
    background-size: 70px 70px;
    background-position: center; 
    cursor:pointer;
    width: 110px;
    height: 170px;
    border: none;
}

.btn-mad {
    background:url(./images/mad.png) no-repeat;
    background-size: 70px 70px;
    background-position: center; 
    cursor:pointer;
    width: 110px;
    height: 170px;
    border: none;
}

/*Rectangles*/

.rect-happy {
    display:inline-block;
	height:170px; 
	width:110px; 
	background-color:#f2e824;
}

.rect-confused {
    display:inline-block;
	height:170px; 
	width:110px; 
	background-color:#62bf85;
}

.rect-sad {
    display:inline-block;
	height:170px; 
	width:110px; 
	background-color:#42beeb;
}

.rect-mad {
    display:inline-block;
	height:170px; 
	width:110px; 
	background-color:#d61c2b;
}

