/*General*/

form {
	display:inline-block;
}

div.voting-block {
	text-align:center;
	padding-top:20px;
}

/*Buttons*/

.btn-happy {
    background:url(./images/btn_haha.png) no-repeat;
    background-size: 74px 77px;
    background-position: center; 
    cursor:pointer;
    height: 77px;
    width: 74px;
    border: none;
    outline:none;
}

/*move it 5 px on click*/

.btn-happy:active {
  transform: translateY(5px);
}
