<div class="">
  <!-- Sidebar -->
  <nav id="sd-rk" class="sidebar">
    <span id="removeclass">×</span>
    <ul>
      <li>
        <a href="#">Main Screen</a>
      </li>
      <li>
        <a href="#">Viber</a>
      </li>
    </ul>
  </nav>

  <div class="">
    <div class="card-header">
      <div class="row">
        <div class="col col-2">
          <img id="side_img" class="float-left nav-img" src="assets/images/ic_menu.png" alt="">
        </div>
        <div class="d-inline-block col col-8">
          <h5 class="card-title text-center">{{room.title}}</h5>
          <p class="card-text text-center">Season {{room.season}}, Episode {{room.episode}}</p>
        </div>
        <div class="col col-2">
          <img class="float-right" src="assets/images/ic_chat.png" alt="">
        </div>
      </div>
    </div>
    <div style="height: 50px"> </div>
    <div class="card-body">
      <div class="text-center vibers-count"
      [ngClass]="{'laugh_bg': vibe === 'laugh', 'smile_bg': vibe === 'smile', 'wow_bg': vibe === 'wow', 'sad_bg': vibe  === 'sad', 'angry_bg': vibe  === 'angry'}">
      <div class="counter">
        <b>{{room.vibers}}</b>
      </div>
      <hr>
      <div>
        <b>Vibers</b>
      </div>
    </div>
  </div>

  <div class="container2-rk">
    <div class="inner-td">
      <div class="b1">
        <div class="box" [ngClass]="{'box1': vibe === 'laugh', 'box2': vibe !== 'laugh'}"></div>
        <div class="box box1"></div>
      </div>
      <div class="b2">
        <div class="box" [ngClass]="{'box1': vibe === 'smile', 'box2': vibe !== 'smile'}"></div>
        <div class="box box1"></div>
      </div>
      <div class="b3">
        <div class="box" [ngClass]="{'box1': vibe === 'wow', 'box2': vibe !== 'wow'}"></div>
        <div class="box box1"></div>
      </div>
      <div class="b4">
        <div class="box" [ngClass]="{'box1': vibe === 'sad', 'box2': vibe !== 'sad'}"></div>
        <div class="box box1"></div>
      </div>
      <div class="b5">
        <div class="box" [ngClass]="{'box1': vibe === 'angry', 'box2': vibe !== 'angry'}"></div>
        <div class="box box1"></div>
      </div>
    </div>
  </div>
  <div class="card-footer text-center">
    <div class="row">
      <div class="col images-col">
        <span class="one-rk">
          <img  class="animate_image" src="assets/images/imoji/btn_haha.png" alt="" width="50px"
          (click)="onSelect('laugh')">
          <span>
            {{room.vibes.laugh}}
          </span>
        </span>
        <span class="two-rk">
          <img class="animate_image" src="assets/images/imoji/btn_smile.png" alt="" width="50px" (click)="onSelect('smile')">
          <span>
            {{room.vibes.smile}}
          </span>
        </span>
        <span class="three-rk">
          <img class="animate_image" src="assets/images/imoji/btn_wow.png" alt="" width="50px" (click)="onSelect('wow')">
          <span>
            {{room.vibes.wow}}
          </span>
        </span>
        <span class="four-rk">
          <img class="animate_image" src="assets/images/imoji/btn_sad.png" alt="" width="50px" (click)="onSelect('sad')">
          <span>
            {{room.vibes.sad}}
          </span>
        </span>
        <span class="five-rk">
          <img class="animate_image" src="assets/images/imoji/btn_angry.png" alt="" width="50px" (click)="onSelect('angry')">
          <span>
            {{room.vibes.angry}}
          </span>
        </span>
      </div>
    </div>
  </div>


</div>
</div>


