.images-col span {
  display: inline-block;
  margin: 0px 6px;
}
.images-col span img:active {
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
}
.images-col span span {
  clear: both;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0px;
}

.vibers-count {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #F7F7F7;
  margin: 0 auto;
}

.vibers-count hr {
  width: 100px;
}

.counter {
  height: 60px;
  line-height: 95px;
}

.animate_image:hover {
  cursor: pointer;
  /* width: 60px; */
}

.animate_image{
  width:55px !important;
  height:55px !important;
}
.laugh_bg {
  /*background-color: #F7CE7B;*/
  background-color: #F7F7F7;
}

.smile_bg {
  /*background-color: #88C09B;*/
  background-color: #F7F7F7;
}

.wow_bg {
  /*background-color: #BA6D97;*/
  background-color: #F7F7F7;
}

.sad_bg {
  /*background-color: #69D5FF;*/
  background-color: #F7F7F7;
}

.angry_bg {
  /*background-color: #D65864;*/
  background-color: #F7F7F7;
}
.container2-rk{
  position: relative;
  width: 100%;
  min-height: 120px;
}
.container2-rk .inner-td {
    position: absolute;
    width: 400px;
    margin: auto;
    background: #333;
    left: 50%;
    transform: translate(-50%);
}
.box{
     width: 20px;
     height: 20px;
     transition: all 1s;
     animation: moveall 5s;
     margin: auto;
     top: 70px;
     position: absolute;
     left: 35%;
     background-repeat: no-repeat;
     background-position: 0px 7px;
   }
.b1 .box1 {
  left: 18%;
  background-image: url('../../assets/images/points_v2/p_001.png');
  top:140px;
}

.b2 .box1 {
  left: 32%;
  background-image: url('../../assets/images/points_v2/p_002.png');
  top:140px;
}
.b3 .box1 {
  left: 49%;
  background-image: url('../../assets/images/points_v2/p_003.png');
  top:140px;
}
.b4 .box1 {
  left: 63%;
  background-image: url('../../assets/images/points_v2/p_004.png');
  top:140px;
}
.b5 .box1 {
  left: 79%;
  background-image: url('../../assets/images/points_v2/p_005.png');
  top:140px;
}
.box2 {
  position: absolute;
  top: -30px;
  height: 30px;
  width: 15px;
  left: 50%;
  background-repeat: no-repeat;
  transform: translateX(-50%);
  
}
.card-footer {
    background: #fff;
    border: none;
}
/* sidebar */

.sidebar {
    min-width: 180px;
    max-width: 180px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background:#403d3d;
    z-index: 9999;
    left: -180px;
    transition: all 1s;   
}
.addnav {
    left:180px; 
    min-width: 180px;
    max-width: 180px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background:#403d3d;
    z-index: 9999;
    transition: all 1s;   
}
.sidebar span,.addnav span {
    width: 30px;
    background: #fff;
    height: 30px;
    float: right;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;   
}
.nav-img {
    cursor: pointer;
}
.sidebar ul, .addnav  ul {
    padding: 60px 20px;
    list-style: none;
}
.sidebar ul li,.addnav ul li {
    margin: 10px 0px;
}
.sidebar ul li a,.addnav ul li a {
    color: #fff;
}

.vibers-counter {
  font-size: 30px;
}